
.edit-container {
    display: flex;
    gap: 4vw;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
    .form-row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 2vw;
        margin-bottom: 3vh;
        flex-wrap: wrap; /* felter hopper ned hvis man minimere skærmen (#Responsivt come on) */
    }




.edit-formbox {
    background-color: #F0EFEF;
    padding: 2vh;
    border-radius: 10px;
    border: 2px solid black;
    min-width: 200px;
}


.edit-formbox label {

font-weight: bold;
font-size: 20px;
}

.edit-formbox input{
    margin-top: 2vh;
    font-size: 12px;
    font-style: italic;
    padding: 1vh;
    border: none;
    border-bottom: 2px solid black;
    box-sizing: border-box;
    outline: none;
    width: 100%;
}


.Save {
    margin-left: 3.4vh;
    background-color: #76D779;
    padding: 2vh;
    color: black;
    border-radius: 8px;
    margin-top: 4vh;
}

.Save:hover {
    background-color: lightgreen;
    font-weight: bold;
}