/* SIGNUP SIDE */
.signupContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

.cupcake {
    width: 15vw;
    height: auto;
    margin: 0 3vw;
}

.signupBox {
    width: 25vw;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.signupBox form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.signupBox h3 {
    text-align: center;
}

.signupBox label {
    margin-top: 10px;
}

.signupBox input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.signupBox button {
    margin-top: 15px;
    padding: 10px;
    background-color: #0c0c0c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.signupBox button:hover {
    background-color: #4886ec;
}

.signupBox p {
    text-align: center;
    margin-top: 10px;
}

.signupBox a {
    color: #0000EE;
    text-decoration: none;
}

.signupBox a:hover {
    text-decoration: underline;
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    gap: 20px;
}

.fog-logo {
    height: 50px;
}

.nav-links a {
    margin-left: 40px;
    text-decoration: none;
    font-weight: bold;
    color: #000;
}

.user-info {
    margin-left: auto;
    display: flex;
    gap: 20px;
    align-items: center;
}

.login-icon {
    display: flex;
    align-items: center;
    gap: 5px;
}

.top-nav a {
    margin: 0 15px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
