<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>FOG Admin</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/admin.css" th:href="@{/css/admin.css}" rel="stylesheet"/>
</head>

<!-- Banner  -->
<img class="fog-logo" src="../public/images/fog_logo.png" th:src="@{/images/fog_logo.png}">

<!-- Navigations menu laves i header      -->

<header>

    <a class="indexOrder" href="admin.html" th:href="@{admin}">Ordre</a>

    <!-- Vis brugerens email, hvis nogen er logget ind -->
    <div class="user-info" th:if="${session.currentUser != null}">
        <span th:text="${session.currentUser.email}"></span>
    </div>

</header>


<body>

<div class="orderContainer">
        <table class="ordre">
            <thead>
            <tr>
                <th>Ordre</th>
                <th>OrderDetails</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order: ${orders}"
                th:classappend="${order.status == 'Afvist' or order.status == 'Godkendt' or order.status == 'Uløbet'} ? 'grå-order' : ''">

            <td th:utext="${'Ordre nummer: ' + order.order_id  + '|  Dato: ' + order.date_created +'| <br> Bruger: ' + order.user_id}"></td>

                <td th:utext="${'| <br> Carport L/B: ' + order.carport.length + order.carport.width}">

                <td th:utext="${'| <br> Pris: ' + order.total_price}">

                <td th:text="${'Status:' + order.status}">


                </td>
                <td th:if="${order.shed != null}" th:text="${'Skur L/B: ' + order.shed.length + order.shed.width}"></td>

                <!-- Hvis der IKKE er et skur -->
                <td th:unless="${order.shed != null}">Ingen skur</td>

                <td>
                    <form class="editButton" method="post" action="editOrder" >
                        <input type="hidden" name="orderNumber-edit" th:value="${order.order_id}">
                        <input type="hidden" name="carportId" th:value="${order.carport.carportId}"/>
                        <button type="submit"
                                th:disabled="${order.status == 'Afvist' or order.status == 'Godkendt' or order.status == 'Uløbet'}"
                                th:classappend="${order.status == 'Afvist' or order.status == 'Godkendt' or order.status == 'Uløbet'} ? ' disabled-button' : ''">
                            Rediger
                        </button>

                    </form>

                    <form  method="post" action="orderdetails">
                        <input type="hidden" name="orderNumber" th:value="${order.order_id}" />
                    <button class="orderdetails-button" type="submit">OrderDetail</button>
                        </form>

                    <!-- Send tilbud til kunde knap -->
                    <form method="post" action="addQuote">
                        <input type="hidden" name="orderNumber" th:value="${order.order_id}">
                        <button type="submit" class="orderdetails-button send-tilbud-button"
                                th:disabled="${order.status == 'Afvist' or order.status == 'Godkendt' or order.status == 'Uløbet'}"
                                th:classappend="${order.status == 'Afvist' or order.status == 'Godkendt' or order.status == 'Uløbet'} ? ' disabled-button' : ''">
                            Send tilbud til kunde
                        </button>
                        <p th:text="${order.order_id}"></p>
                    </form>
                </td>
            </tr>


            </tbody>
        </table>
    <div><p class="error" th:unless="${#strings.isEmpty(message)}" th:text="${message}"></p></div>

</div>
</body>
</html>