<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<title>Cupcake</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/createCarport.css" th:href="@{/css/createCarport.css}" rel="stylesheet"/>
</head>

<!-- Banner -->
<header class="header">
    <!-- FOG Logo -->
    <div class="logo">
        <img src="../public/images/fog_logo.png" th:src="@{/images/fog_logo.png}" alt="FOG Logo" style="height: 60px;">
    </div>

    <!-- Navigation -->
    <nav class="nav-links">
        <a class="hjem" href="startpage.html" th:href="@{startpage}">Hjem</a>
        <a class="byg" href="createCarport.html" th:href="@{createCarport}">Byg Carport</a>
    </nav>

    <!-- Bruger info -->
    <div class="user-info" th:if="${session.currentUser != null}">
        <span th:text="${session.currentUser.email}"></span>
        <a class="indkøbskurv" href="cart.html" th:href="@{cart}">Kurv</a>
    </div>
</header>





<body>
<div class="indexContainer">
    <div class="indexText">
        <h2>Byg din egen carport</h2>
        <br>



    </div>
</div>
<div class="build-carport">
    <form class="build-carport" action="createCarport" method="post">

        <div class="stack-length">
            <label th:for="widthAndLength">Vælg Længde</label>
            <div class="length">
                <select  name="length" required>
                    <option value="" disabled selected>Vælg længde
                    </option>
                    <option th:each="eachLength: ${widthAndLength}" th:value="${carport.length}"
                            th:text="${carport.length + ': '+ ' cm'}">
                    </option>
                </select>
            </div>
        </div>

        <div class="stack-width">
            <label th:for="toppings">Vælg Bredde:</label>
            <div class="width">
                <select  name="width" required>
                    <option value="" disabled selected>Vælg Bredde
                    </option>
                    <option th:each="eachWidth: ${widthAndLength}" th:value="${carport.width}"
                            th:text="${carport.width + ': ' + ' cm'}">
                    </option>
                </select>
            </div>
        </div>

        <
        <div class="stack-buy">
            <label th:for="buy">Læg i kurv</label>
            <button type="submit">Læg i kurv</button>
        </div>
    </form>
</div>
</body>
</html>

</body>
</html>