<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>FOG Admin</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/edit.css" th:href="@{/css/edit.css}" rel="stylesheet"/>
</head>

<body>

    <form method="post">

        <div class="edit-container">

        <div class="edit-formbox">
        <label>Carport Længde</label> <br>
        <input type="number" name="carport-length" th:value="${carport.length}">
        </div>


        <div class="edit-formbox">
        <label>Carport Bredde</label> <br>
        <input type="number" name="carport-width" th:value="${carport.width}">
        </div>

        <div class="edit-formbox">
        <label class="Price-title">Pris ialt</label> <br>
        <input class="Price-input" type="number" name="price" th:value="${price}">
        </div>

            <div class="edit-formbox" th:each="orderdetails :${session.orderDetails}">

                <label th:text="${orderdetails.material.name}"></label>
                <input type="number" name="chosen-quantity" th:text="${orderdetails.quantity}">
                </div>

            <div class="edit-formbox" th:each="orderdetails :${session.orderDetails}">
            <label th:text="${orderdetails.material.name}"></label>
                <select  name="materialLength" required>
                    <option value="" disabled selected>Vælg længde
                    </option>
                    <option th:each="eachLength: ${materialLength}" th:value="${eachLength}"
                            th:text="${eachLength}">
                    </option>
                </select>
            </div>
            <input type="hidden" name="edit_carportId" th:value="${carport.carportId}"/>
            <input type="hidden" name="edit_orderDetailId" th:value="${orderdetails.orderDetailId}"/>
            <input type="hidden" name="chosenMaterialLength" th:value="${eachLength}"/>
    <button class="Save" type="submit"  formaction="/admin">Gem ændringer</button>

        </div>
    </form>

</body>
</html>