<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="midContainer">


  <table class="orderdetails-table">
    <thead>
    <tr>
      <th>Ordre nummer</th>
      <th>Antal</th>
      <th>Materiale</th>
    </tr>
    </thead>


    <tbody>
    <tr th:each="orderdetails :${session.orderDetails}">
      <td th:text="${orderdetails.orderId}"></td>
      <td th:text="${orderdetails.quantity}"></td>
      <td th:text="${orderdetails.material.name}"></td>
      <td th:text="${orderdetails.material.price}"></td>

    </tr>



    </tbody>

  </table>
  <form action="quote.html" method="post">
<button type="submit" th:value="${totalPrice}" >Generer</button>
  </form>

  <a type="button" th:href="admin">Tilbage </a>


</div>

</body>
</html>