<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TILBUD</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/quotesUser.css" th:href="@{/css/quotesUser.css}" rel="stylesheet"/>
</head>

<header class="top-header">
    <img class="fog-logo" th:src="@{/images/fog_logo.png}" alt="FOG Logo">

    <nav class="top-nav">
        <a th:href="@{/}">Hjem</a>
        <a th:href="@{/createCarport}">Byg carport</a>
    </nav>

    <div class="login-icon" th:if="${session.currentUser == null}">
        <span>🔒</span>
        <a th:href="@{/login}">Login</a>
    </div>

    <!-- Bruger info -->
    <div class="user-info" th:if="${session.currentUser != null}">
        <span th:text="${session.currentUser.email}"></span>
        <a class="indkøbskurv" href="quotes_user.html" th:href="@{quotes}">Kurv</a>
    </div>

</header>

<body>
<h2>Mine tilbud</h2>


<form th:action="@{'/quote/respond/' + ${quote.id}}" method="post">
    <label><input type="radio" name="response" value="accept"> Accepter</label>
    <label><input type="radio" name="response" value="reject"> Afvis</label>
    <button type="submit">Godkend</button>
</form>


<!-- Afventer bekræftelse -->
<section>
    <h3>Afventer bekræftelse</h3>
    <div th:each="quote : ${qoutes}" th:if="${!quote.accepted}">
        <p>Pris: <span th:text="${quote.finalPrice}"></span> kr</p>
        <p>Udløber d. <span th:text="${quote.validUntilDate}"></span></p>
        <a th:href="@{'/order/details/' + ${quote.id}}">Se detaljer</a>
        <hr/>
    </div>
</section>

<!-- Bekræftede tilbud -->
<section>
    <h3>Bekræftede tilbud</h3>
    <div th:each="quote : ${qoutes}" th:if="${quote.accepted}">
        <p>Pris: <span th:text="${quote.finalPrice}"></span> kr</p>
        <p>Bekræftet d. <span th:text="${quote.createdAtDate}"></span></p>
        <a th:href="@{'/order/details/' + ${quote.id}}">Se detaljer</a>
        <hr/>
    </div>
</section>
</body>

</html>