<!DOCTYPE html>
<html lang="en">
<head>
    <title>SignUp</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
  <link href="../public/css/signup.css" th:href="@{/css/signup.css}" rel="stylesheet"/>
</head>

<header class="top-header">
  <img class="fog-logo" th:src="@{/images/fog_logo.png}" alt="FOG Logo">

  <nav class="top-nav">
    <a th:href="@{/}">Hjem</a>
    <a th:href="@{/createCarport}">Byg carport</a>
  </nav>

  <div class="login-icon" th:if="${session.currentUser == null}">
    <span>🔒</span>
    <a th:href="@{/login}">Login</a>
  </div>

  <!-- Bruger info -->
  <div class="user-info" th:if="${session.currentUser != null}">
    <span th:text="${session.currentUser.email}"></span>
    <a class="indkøbskurv" href="quotes_user.html" th:href="@{quotes}">Kurv</a>
  </div>

</header>

<body>
<div class="signupContainer">

  <!-- Signup-boks -->
  <div class="signupBox">
    <h3>Opret Bruger</h3>
    <form action="signUp" method="post">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>

      <label for="password">Adgangskode:</label>
      <input type="password" id="password" name="password" required>

      <label for="phoneNumber">Phone Number:</label>
      <input type="phoneNumber" id="phoneNumber" name="phoneNumber" required>

      <button type="submit">Opret</button>
    </form>

    <p>Allerede oprettet? <a href="login.html" th:href="@{login}">Log ind her</a></p>
    <p th:text="${message}"></p>

  </div>
  </div>
</body>
</html>